/* importe de tipod de texto necesarios*/
@font-face {
    font-family: "Lilita1";
    src: url("../fonts/LilitaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}

.map {
    cursor: pointer;
    margin: 20px;
    font-family: Ubuntu;
    color: rgb(114, 114, 114);
}
.map span {
    color: rgb(0, 0, 0);
}
.map a {
    color: rgb(114, 114, 114);
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lilita1;
}
/* Estilo global para el header */
header {
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
    border-bottom: 1px solid #ddd;
}

/*sección en el tope superior */
.top {
    background: black;
    color: white;
    text-align: center;
}

.top a {
    color: aliceblue;
}

/* Barra de navegacion del header */
.Logo {
    font-family: Lilita1;
    font-size: 33.45px;
    font-weight: 400;
}

.Logo a {
    color: #000;
    text-decoration: none;
}

nav a {
    color: black;
}

.nav-flex {
    display: flex;
    list-style: none;
    gap: 20px;
}


/* Search bar */
.Barra_busqueda {
    display: flex;
    padding: 20px 35px;
    position: relative;
    width: 300px;
}

.Barra_busqueda input {
    width: 100%;
    padding: 10px 35px;
    border-radius: 20px;
    outline: none;
}

/* iconos en header */
.header_iconos button {
    background: none;
    border: none;
}


/* =========================================================================================== */
/* Estilo global para el pie de página */

/* NEWSLETTER */
.newsletter {
    background: black;
    border-radius: 40px;
    margin: 60px;
    padding: 50px 60px;
    color: white;
}

.newsletter-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter-content h2 {
    font-size: 40px;
    font-weight: 800;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-box {
    display: flex;
    align-items: center;
    background: white;
    border-radius: 30px;
    padding: 12px 20px;
}

.input-box input {
    border: none;
    outline: none;
    width: 250px;
}

.newsletter-form button {
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

/* FOOTER */
.footer {
    background: #f3f3f3;
    padding: 60px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-family: Ubuntu;
}

.footer-top h3 {
    font-family: Lilita1;
}

.footer-brand {
    max-width: 300px;
}

.footer-brand h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.socials img {
    background: white;
    border: 1px rgb(187, 187, 187) solid;
    border-radius: 90%;
    cursor: pointer;
    height: 30px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.footer-links h4 {
    margin-bottom: 15px;
}

.footer-links p {
    margin-bottom: 10px;
    color: #555;
}

/* FOOTER BOTTOM */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 25px;
    font-family: ubuntu;
}

.payments img {
    background: white;
    border: 1px rgb(167, 167, 167) solid;
    border-radius: 15%;
    padding: 1px;
    cursor: pointer;
    height: 30px;
    margin-left: 10px;
}
/* =================================================================================================== */
/* seccion de comentarios */
.comentarios {
    align-items: center;
    justify-content: space-between;
}

.upper_info {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.upper_info p {
    font-size: 50px;
    cursor: pointer;
}

.bloque-comentarios {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.comentario_usuario {
    border: rgb(199, 198, 198) 1px solid;
    padding: 15px;
    border-radius: 20px;
    line-height: 1.5em;
}

.comentario_usuario p {
    font-family: ubuntu;
}