@font-face {
    font-family: "Lilita1";
    src: url("../fonts/LilitaOne-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf") format("truetype");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: Lilita1;
}
header{
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
}

/*sección en el tope superior */
.top{
    background: black;
    color: white;
    text-align: center;
}
.top a{
    color: aliceblue;
}
/* Barra de navegacion del header */
.Logo{
    font-family: Lilita1;
    font-size: 33.45px;
    font-weight: 400;
}
nav a{
    color: black;
}
.nav-flex{
    display: flex;
    list-style: none;
    gap: 20px;
}


/* Search bar */
.Barra_busqueda {
    padding: 20px 35px;
    position: relative;
    width: 300px;
}

.Barra_busqueda input {
    width: 100%;
    padding: 10px 35px;
    border-radius: 20px;
    outline: none;
}


/* Hero */

.Hero{
    background: #F2F0F1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 3 columnas iguales */
    gap: 20px;       /* separación entre tarjetas */
}
.Hero p{
    font-family: Ubuntu;
    margin: 20px;
}
.Hero_text h1{
    font-size: 64px;
    margin: 20px;
}
.shop-button{
    margin: 40px;
    background: #000;
    color: white;
    padding: 12px 25px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
.stats{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    gap: 40px;
}
.stats h2{
    padding-top: 60px;
    font-size: 40px;
}
.stats p{
    font-family: Ubuntu;
    font-size: 16px;
}
.hero_img img{
    height: 663px;
    width: 940px;
}

/* Marcas */
.Marcas{
    display: flex;
    background: rgb(189, 189, 189);
    justify-content: space-evenly;
    align-items: center;
}
.Marcas button{
    cursor: pointer;
    border: none;
    background: rgb(189, 189, 189);
}
.Marcas img{
    height: 80px;
    width: 200px;
}